<div class="modal-header">
    <span>Nova Categoria</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-12 col-md-12">
          <div class="form-group">
            <label for="nome">Nome da Categoria</label>
            <input type="nome" class="form-control" id="nome" [(ngModel)]="mesa.nome" placeholder="Ex.: Mesa 01, Mesa VIP 02...">
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="save()">Save changes</button>
</div>