<div class="modal-header">
    <span>Novo Produto</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-12 col-md-12">
          <div class="form-group">
            <label for="nome">Nome do Produto</label>
            <input type="nome" class="form-control" id="nome" [(ngModel)]="produto.nome" placeholder="Ex.: Coca-cola, Batata Frita...">
          </div>
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <select class="form-control" id="categoria" [(ngModel)]="produto.categoria.uuid">
              <option *ngFor="let cat of categorias" [value]="cat.uuid">{{cat.nome}}</option>
            </select>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="descricao">Descrição</label>
              <textarea type="descricao" class="form-control" id="descricao" [(ngModel)]="produto.descricao" placeholder="Ex.: Porção com 500g de batata e com queijo."></textarea>
            </div>
            <div class="form-group col-6">
              <label for="foto">Foto</label>
              <input type="file" class="form-control" name="foto" id="foto" accept="image/*" (change)="changeListener($event)">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="preco">Preço</label>
              <input type="preco" class="form-control" id="preco" [(ngModel)]="produto.valor"  placeholder="15,00">
            </div>
            <div class="col-6">
              <img src="{{produto.foto}}" style="width: 150px; height: 150px;"/>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="save()">Save changes</button>
</div>