<div class="row">
  <nb-card class="col-12">
    <nb-card-header class="row">
      <h2 class="col-6">Cardápio ({{total}})</h2>
      <div class="col-6 text-right">
        <button class="btn btn-info btn-sm" (click)="showModalCategoria()"><i class="ion-plus-round"></i> Categoria</button>
        <button class="btn btn-primary btn-sm" (click)="showModalProduto()"><i class="ion-plus-round"></i> Produto</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Produto</th>
              <th scope="col">Categoria</th>
              <th scope="col">Valor</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtos$ | async">
              <th scope="row">{{produto.id}}</th>
              <td>{{produto.nome}}</td>
              <td>{{produto.categoria.nome}}</td>
              <td>{{produto.valor}}</td>
              <td><i class="ion-edit" style="cursor: pointer" (click)="editar(produto)"></i></td>
              <td><i class="ion-android-delete" style="cursor: pointer" (click)="excluir(produto)"></i></td>
            </tr>
          </tbody>
        </table>
    </nb-card-body>
  </nb-card>
</div>
