<div class="row">
  <nb-card class="col-12">
    <nb-card-header class="row">
      <h2 class="col-6">Mesas ({{total}})</h2>
      <div class="col-6 text-right">
        <button class="btn btn-primary btn-sm" (click)="showLargeModal()"><i class="ion-plus-round"></i> Nova</button>
      </div>
    </nb-card-header>
    <nb-card-body>
      <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nome</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mesa of mesas$ | async">
              <th scope="row">{{mesa.id}}</th>
              <td>{{mesa.nome}}</td>
              <td><i class="ion-android-delete" style="cursor: pointer" (click)="excluir(mesa)"></i></td>
            </tr>
          </tbody>
        </table>
    </nb-card-body>
  </nb-card>
</div>
